@use "./index" as *;

.extra-light-hr {
    width: 100%;
    height: 1px;
    border-width: 0;
    background-color: rgb(220, 220, 220);
    margin: 20px 0px;
}

.light-hr {
    width: 100%;
    height: 1px;
    border-width: 0;
    background-color: rgb(192, 192, 192);
    margin: 20px 0px;
}

.heavy-hr {
    width: 100%;
    height: 1px;
    border-width: 0;
    background-color: rgb(118, 118, 118);
    margin: 20px 0px;
}

.lightGrayText {
    color: $light-gray-text;
}

.darkGrayText {
    color: $dark-gray-text;
}

.search {
    $icon-size: 1rem;
    $height-buffer: .5rem;
    $default-width: 300px;
    $icon-padding: .4rem;
    $search-height: calc($icon-size + ($icon-padding * 2) + $height-buffer);
    $icon-top-pos: calc(($search-height - $icon-size) / 2);
    $icon-horizontal-pos: calc($icon-padding + $height-buffer);

    width: 70%;

    .wrapper {
        position: relative;
        min-width: $default-width;
        height: $search-height;

        &:hover {
            .searchIcon {
                transform: scale(1.07)
            }
        }
    }

    svg {
        position: absolute;
        width: $icon-size;
        height: $icon-size;
        top: $icon-top-pos;        

        transition: transform .3s;
    }

    .searchIcon {
        pointer-events: none;
        left: $icon-horizontal-pos;
    }

    .clearIcon {
        right: $icon-horizontal-pos;
        cursor: pointer;

        &:hover {
            transform: scale(1.07);
        }
    }

    .input {
        border: 1px solid grey;
        border-radius: calc($search-height / 2);
        height: 100%;
        width: 100%;
        padding-left: $search-height;
        font-family: inherit;

        &::-webkit-search-cancel-button {
            -webkit-appearance: none;
        }
    }

    .widget {
        margin: 0;
    }

    .resultsList {
        li {
            list-style: none;

            > div {
                border: 1px solid rgb(220, 220, 220);
                border-radius: 5px;
                padding: 10px;
            }
            
            a {
                text-decoration: none;
                color: black;
                font-size: 1.1rem;

                &:hover {
                    text-decoration: underline;
                }
            }

            .search-highlight {
                background-color: rgb(255, 255, 0);
            }
        }
    }

}