@use "./index" as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: $primary-text-color;
}

body {
    background-color: $primary-background-color;
}

p {
    margin: 20px 0px;
}