@use "./index" as *;

* {
    color: $primary-text-color;
    font-family: "Jost", sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: $primary-background-color;
}

p {
    margin: 20px 0px;
}