$primary-text-color: #000000;
$secondary-text-color: #ff0000;

$primary-background-color: #ffffff;
$secondary-background-color: #ff0000;
$light-gray-background: #fcfcfc;

$link-color: #1e5d75;

$max-width: 1000px;
$breakpoint: 50rem;

$nav-icon-size: 1.25rem;