<div class="linkShare">
    <img src="../../">Icon</img>
    <span>Share</span>

    <div>Icon</div>
    <span>Link</span>
</div>

<style>
    .linkShare {
        border: 1px solid black;
    }
</style>