---
import BaseLayout from "./BaseLayout.astro";
import PageNavigation from '../components/PageNavigation.astro';

const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <div class="markdownMainContainer">
        <header>
            <PageNavigation />
            <h1>{frontmatter.title}</h1>
        </header>
    <slot />
    </div>
</BaseLayout>

<style>
    .markdownMainContainer {
        width: 100%;
        max-width: 900px;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .markdownMainContainer header {
        width: 100%;
    }

    .markdownMainContainer * {
        text-align: left;
    }

</style>

    <!--Main navigation -->
    <!--Full header -->
        <!--Nav to other pages -->
        <!--Header -->
        <!--Subheader -->
        <!--Expand footnotes -->
        <!--Share and copy link buttons -->
        <!--Heavy dividng line -->
    <!--Main content -->
        <!--Big section title -->
        <!--Subsection title -->
        <!--Normal text -->
        <!--Collapsible footnotes -->
        <!--Full width images -->
        <!--Partial width images -->
        <!--Superscripts for references -->
    <!--Full footer -->
        <!--Light dividing line -->
        <!--Share and copy link buttons -->
        <!--Nav to other pages -->
        <!--This isn't medical advice! -->
    <!--References -->
        <!--Heavy dividing line -->
        <!--References title -->
        <!--Reference list -->